<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YLib.Properties.Settings>
            <setting name="YLib_Com_Tomori_Api_SysUser_WS_APISYS_CHECK_USR"
                serializeAs="String">
                <value>https://api.job-tomori.com:60001/Public/CheckUserString/WS_APISYS_CHECK_USR.asmx</value>
            </setting>
            <setting name="YLib_Com_Tomori_Api_CloseLog_WS_APISYS_CLOSECLOGa"
                serializeAs="String">
                <value>https://api.job-tomori.com:60001/Public/CLOSELOG/WS_APISYS_CLOSECLOGa.asmx</value>
            </setting>
            <setting name="YLib_Com_Tomori_Api_ADAuth_Service1" serializeAs="String">
                <value>https://api.job-tomori.com:60002/PROD/ADAuth/WS_SYSAD_AUTH.asmx</value>
            </setting>
            <setting name="YLib_Com_Tomori_Api_ADDetailUser_WS_ADSYS_DETAILS"
                serializeAs="String">
                <value>https://api.job-tomori.com:60002/PROD/VAD/WS_ADSYS_DETAILS.asmx</value>
            </setting>
        </YLib.Properties.Settings>
    </applicationSettings>
</configuration>